@font-face {
    font-family: 'NeoSans';
    src: url('../assets/fonts/NeoSans.eot');
    src: local('NeoSans'),
        url('../assets/fonts/NeoSans.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/NeoSans.woff2') format('woff2'),
        url('../assets/fonts/NeoSans.woff') format('woff'),
        url('../assets/fonts/NeoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a:-webkit-any-link{
    text-decoration: unset;
}
.v-application a{
    display: flex;
}
.v-application .white--text{
    color: unset !important;
}
.loading{
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #767676;
}

.v-breadcrumbs {
    padding: 10px;
    margin: 10px;
}