$color-pack: false;
//@import '~vuetify/src/styles/main.sass';
$body-font-family: 'Neo Sans Arabic Regular', sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$subheader-inset-margin	:56px !default;
$subheader-item-single-height	:48px !default;
$subheader-left-padding	:16px !default;
$subheader-right-padding	:16px !default;
$breadcrumbs-margin:15px !default;
$fab-icon-sizes: (
  'small': 60
);
$btn-sizes: (
  'default': 41,
  'large': 54
);

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  )
);
