<div>
    <div v-if="view === 0">
        <v-data-table :headers="headers"
                      :items="samples"
                      sort-by="calories"
                      class="elevation-1"
                      disable-pagination
                      hide-default-footer
                      no-data-text="لا يوجد بيانات متاحة">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>
                        <v-col cols="12" class="mr-4">
                            <v-text-field append-icon="mdi-magnify" @click:append=""
                                          v-model="filter.search" label="بحث">
                            </v-text-field>

                        </v-col>
                    </v-toolbar-title>
                    <v-col cols="4" class="mr-4">
                        <v-select label="Item">
                        </v-select>
                    </v-col>
                    <!-- <v-divider class="mx-4" inset vertical></v-divider> -->
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark class="mb-2" @click="add">
                        New Item
                    </v-btn>
                    <Dialog @close="closeDelete" @confirm="deleteItemConfirm" :dialog="dialogDelete" />
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="details(item)">
                    mdi-eye
                </v-icon>
                <v-icon small @click="edit(item)">
                    mdi-pencil
                </v-icon>

                <v-icon small @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>

        </v-data-table>
        <div class="text-center secondary">
            <v-pagination v-model="filter.pageNo"
                          :length="totalItems"
                          circle
                          @input="reloadPage">
            </v-pagination>
        </div>
    </div>
    <!----------------------------------------------------------------------->
    <AddSample v-if="view === 1" />
    <EditSample :itemId="itemId" v-if="view === 2" />
    <DetailsSample :itemId="itemId" v-if="view === 3" />
</div>