﻿<template>
    <v-dialog v-model="alertDialog" max-width="500px">
        <v-card>
            <v-card-title class="headline">{{message}}</v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">اغلاق</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
        
    </v-dialog>
</template>

<script>
    export default {
        name: "Dialog",
        computed: {
            alertDialog() {
                return this.$store.state.notify.alertDialog;
            },
            message() {
                return this.$store.state.notify.message;
            },
        },
        methods: {
            close() {
                this.$store.dispatch('notify/closeAlert')
            }
        }

    };
</script>
