<template>
    <v-snackbar v-if = "snackbar"
        :value="snackbar"
        :color="color"
        right
    >
    <v-alert
        :type="color"
    >{{message}}</v-alert>

    </v-snackbar>
</template>

<script>

export default {
    computed:{
        snackbar(){
            return this.$store.state.notify.snackbar;
        },
        message(){
            return this.$store.state.notify.message;
        },
        color (){
            return this.$store.state.notify.color;
        }
    },
    //data:() => ({
    //    //timeout: 2000,
    //}),
}
</script>
