<v-row justify="space-around">
    erterterter
    <v-icon large>mdi-account</v-icon>
    <v-icon large>mdi-account-alert</v-icon>
    <v-icon large>mdi-account-box</v-icon>
    <v-icon large>mdi-account-box-outline</v-icon>
    <v-icon large>mdi-account-check</v-icon>
    <v-icon large>mdi-account-circle</v-icon>
    <v-icon large>mdi-account-key</v-icon>
    <v-icon large>mdi-account-location</v-icon>
    <v-icon large>mdi-account-minus</v-icon>
    <v-icon large>mdi-account-multiple</v-icon>
    <v-icon large>mdi-account-multiple-outline</v-icon>
    <v-icon large>mdi-account-multiple-plus</v-icon>
    <v-icon large>mdi-account-network</v-icon>
    <v-icon large>mdi-account-outline</v-icon>
    <v-icon large>mdi-account-plus</v-icon>
    <v-icon large>mdi-account-remove</v-icon>
    <v-icon large>mdi-account-search</v-icon>
    <v-icon large>mdi-account-star</v-icon>
    <v-icon large>mdi-account-star-variant</v-icon>
    <v-icon large>mdi-account-switch</v-icon>
    <v-icon large>mdi-airballoon</v-icon>
    <v-icon large>mdi-airplane</v-icon>
    <v-icon large>mdi-airplane-off</v-icon>
    <v-icon large>mdi-alarm</v-icon>
    <v-icon large>mdi-alarm-check</v-icon>
    <v-icon large>mdi-alarm-multiple</v-icon>
    <v-icon large>mdi-alarm-off</v-icon>
    <v-icon large>mdi-alarm-plus</v-icon>
    <v-icon large>mdi-album</v-icon>
    <v-icon large>mdi-alert</v-icon>
    <v-icon large>mdi-alert-box</v-icon>
    <v-icon large>mdi-alert-circle</v-icon>
    <v-icon large>mdi-alert-octagon</v-icon>
    <v-icon large>mdi-alpha</v-icon>
    <v-icon large>mdi-alphabetical</v-icon>
    <v-icon large>mdi-amazon</v-icon>
    <v-icon large>mdi-amazon-clouddrive</v-icon>
    <v-icon large>mdi-ambulance</v-icon>
    <v-icon large>mdi-android</v-icon>
    <v-icon large>mdi-android-debug-bridge</v-icon>
    <v-icon large>mdi-android-studio</v-icon>
    <v-icon large>mdi-apple</v-icon>
    <v-icon large>mdi-apple-finder</v-icon>
    <v-icon large>mdi-apple-mobileme</v-icon>
    <v-icon large>mdi-apple-safari</v-icon>
    <v-icon large>mdi-appnet</v-icon>
    <v-icon large>mdi-apps</v-icon>
    <v-icon large>mdi-archive</v-icon>
    <v-icon large>mdi-arrange-bring-forward</v-icon>
    <v-icon large>mdi-arrange-bring-to-front</v-icon>
    <v-icon large>mdi-arrange-send-backward</v-icon>
    <v-icon large>mdi-arrange-send-to-back</v-icon>
    <v-icon large>mdi-arrow-all</v-icon>
    <v-icon large>mdi-arrow-collapse</v-icon>
    <v-icon large>mdi-arrow-down</v-icon>
    <v-icon large>mdi-arrow-down-bold</v-icon>
    <v-icon large>mdi-arrow-down-bold-circle</v-icon>
    <v-icon large>mdi-arrow-down-bold-circle-outline</v-icon>
    <v-icon large>mdi-arrow-down-bold-hexagon-outline</v-icon>
    <v-icon large>mdi-arrow-expand</v-icon>
    <v-icon large>mdi-arrow-left</v-icon>
    <v-icon large>mdi-arrow-left-bold</v-icon>
    <v-icon large>mdi-arrow-left-bold-circle</v-icon>
    <v-icon large>mdi-arrow-left-bold-circle-outline</v-icon>
    <v-icon large>mdi-arrow-left-bold-hexagon-outline</v-icon>
    <v-icon large>mdi-arrow-right</v-icon>
    <v-icon large>mdi-arrow-right-bold</v-icon>
    <v-icon large>mdi-arrow-right-bold-circle</v-icon>
    <v-icon large>mdi-arrow-right-bold-circle-outline</v-icon>
    <v-icon large>mdi-arrow-right-bold-hexagon-outline</v-icon>
    <v-icon large>mdi-arrow-up</v-icon>
    <v-icon large>mdi-arrow-up-bold</v-icon>
    <v-icon large>mdi-arrow-up-bold-circle</v-icon>
    <v-icon large>mdi-arrow-up-bold-circle-outline</v-icon>
    <v-icon large>mdi-arrow-up-bold-hexagon-outline</v-icon>
    <v-icon large>mdi-at</v-icon>
    <v-icon large>mdi-attachment</v-icon>
    <v-icon large>mdi-auto-fix</v-icon>
    <v-icon large>mdi-auto-upload</v-icon>
    <v-icon large>mdi-backup-restore</v-icon>
    <v-icon large>mdi-bank</v-icon>
    <v-icon large>mdi-barcode</v-icon>
    <v-icon large>mdi-barley</v-icon>
    <v-icon large>mdi-barrel</v-icon>
    <v-icon large>mdi-basecamp</v-icon>
    <v-icon large>mdi-basket</v-icon>
    <v-icon large>mdi-basket-fill</v-icon>
    <v-icon large>mdi-basket-unfill</v-icon>
    <v-icon large>mdi-battery</v-icon>
    <v-icon large>mdi-battery-20</v-icon>
    <v-icon large>mdi-battery-30</v-icon>
    <v-icon large>mdi-battery-40</v-icon>
    <v-icon large>mdi-battery-60</v-icon>
    <v-icon large>mdi-battery-80</v-icon>
    <v-icon large>mdi-battery-90</v-icon>
    <v-icon large>mdi-battery-alert</v-icon>
    <v-icon large>mdi-battery-charging-100</v-icon>
    <v-icon large>mdi-battery-charging-20</v-icon>
    <v-icon large>mdi-battery-charging-30</v-icon>
    <v-icon large>mdi-battery-charging-40</v-icon>
    <v-icon large>mdi-battery-charging-60</v-icon>
    <v-icon large>mdi-battery-charging-80</v-icon>
    <v-icon large>mdi-battery-charging-90</v-icon>
    <v-icon large>mdi-battery-minus</v-icon>
    <v-icon large>mdi-battery-negative</v-icon>
    <v-icon large>mdi-battery-outline</v-icon>
    <v-icon large>mdi-battery-plus</v-icon>
    <v-icon large>mdi-battery-positive</v-icon>
    <v-icon large>mdi-battery-unknown</v-icon>
    <v-icon large>mdi-beach</v-icon>
    <v-icon large>mdi-beaker</v-icon>
    <v-icon large>mdi-beaker-empty</v-icon>
    <v-icon large>mdi-beaker-empty-outline</v-icon>
    <v-icon large>mdi-beaker-outline</v-icon>
    <v-icon large>mdi-beats</v-icon>
    <v-icon large>mdi-beer</v-icon>
    <v-icon large>mdi-behance</v-icon>
    <v-icon large>mdi-bell</v-icon>
    <v-icon large>mdi-bell-off</v-icon>
    <v-icon large>mdi-bell-outline</v-icon>
    <v-icon large>mdi-bell-ring</v-icon>
    <v-icon large>mdi-bell-ring-outline</v-icon>
    <v-icon large>mdi-bell-sleep</v-icon>
    <v-icon large>mdi-beta</v-icon>
    <v-icon large>mdi-bike</v-icon>
    <v-icon large>mdi-bing</v-icon>
    <v-icon large>mdi-bio</v-icon>
    <v-icon large>mdi-biohazard</v-icon>
    <v-icon large>mdi-black-mesa</v-icon>
    <v-icon large>mdi-blackberry</v-icon>
    <v-icon large>mdi-blinds</v-icon>
    <v-icon large>mdi-block-helper</v-icon>
    <v-icon large>mdi-blogger</v-icon>
    <v-icon large>mdi-bluetooth</v-icon>
    <v-icon large>mdi-bluetooth-audio</v-icon>
    <v-icon large>mdi-bluetooth-connect</v-icon>
    <v-icon large>mdi-bluetooth-settings</v-icon>
    <v-icon large>mdi-blur</v-icon>
    <v-icon large>mdi-blur-linear</v-icon>
    <v-icon large>mdi-blur-off</v-icon>
    <v-icon large>mdi-blur-radial</v-icon>
    <v-icon large>mdi-bone</v-icon>
    <v-icon large>mdi-book</v-icon>
    <v-icon large>mdi-book-multiple</v-icon>
    <v-icon large>mdi-book-multiple-variant</v-icon>
    <v-icon large>mdi-book-open</v-icon>
    <v-icon large>mdi-book-variant</v-icon>
    <v-icon large>mdi-bookmark</v-icon>
    <v-icon large>mdi-bookmark-check</v-icon>
    <v-icon large>mdi-bookmark-outline</v-icon>
    <v-icon large>mdi-bookmark-outline-plus</v-icon>
    <v-icon large>mdi-bookmark-plus</v-icon>
    <v-icon large>mdi-bookmark-remove</v-icon>
    <v-icon large>mdi-border-all</v-icon>
    <v-icon large>mdi-border-bottom</v-icon>
    <v-icon large>mdi-border-color</v-icon>
    <v-icon large>mdi-border-horizontal</v-icon>
    <v-icon large>mdi-border-inside</v-icon>
    <v-icon large>mdi-border-left</v-icon>
    <v-icon large>mdi-border-none</v-icon>
    <v-icon large>mdi-border-outside</v-icon>
    <v-icon large>mdi-border-right</v-icon>
    <v-icon large>mdi-border-top</v-icon>
    <v-icon large>mdi-border-vertical</v-icon>
    <v-icon large>mdi-bowling</v-icon>
    <v-icon large>mdi-box</v-icon>
    <v-icon large>mdi-briefcase</v-icon>
    <v-icon large>mdi-briefcase-check</v-icon>
    <v-icon large>mdi-briefcase-download</v-icon>
    <v-icon large>mdi-briefcase-upload</v-icon>
    <v-icon large>mdi-brightness-1</v-icon>
    <v-icon large>mdi-brightness-2</v-icon>
    <v-icon large>mdi-brightness-3</v-icon>
    <v-icon large>mdi-brightness-4</v-icon>
    <v-icon large>mdi-brightness-5</v-icon>
    <v-icon large>mdi-brightness-6</v-icon>
    <v-icon large>mdi-brightness-7</v-icon>
    <v-icon large>mdi-brightness-auto</v-icon>
    <v-icon large>mdi-broom</v-icon>
    <v-icon large>mdi-brush</v-icon>
    <v-icon large>mdi-bug</v-icon>
    <v-icon large>mdi-bullhorn</v-icon>
    <v-icon large>mdi-bus</v-icon>
    <v-icon large>mdi-cake</v-icon>
    <v-icon large>mdi-cake-variant</v-icon>
    <v-icon large>mdi-calculator</v-icon>
    <v-icon large>mdi-calendar</v-icon>
    <v-icon large>mdi-calendar-blank</v-icon>
    <v-icon large>mdi-calendar-check</v-icon>
    <v-icon large>mdi-calendar-clock</v-icon>
    <v-icon large>mdi-calendar-multiple</v-icon>
    <v-icon large>mdi-calendar-multiple-check</v-icon>
    <v-icon large>mdi-calendar-plus</v-icon>
    <v-icon large>mdi-calendar-remove</v-icon>
    <v-icon large>mdi-calendar-text</v-icon>
    <v-icon large>mdi-calendar-today</v-icon>
    <v-icon large>mdi-camcorder</v-icon>
    <v-icon large>mdi-camcorder-box</v-icon>
    <v-icon large>mdi-camcorder-box-off</v-icon>
    <v-icon large>mdi-camcorder-off</v-icon>
    <v-icon large>mdi-camera</v-icon>
    <v-icon large>mdi-camera-iris</v-icon>
    <v-icon large>mdi-camera-party-mode</v-icon>
    <v-icon large>mdi-camera-switch</v-icon>
    <v-icon large>mdi-camera-timer</v-icon>
    <v-icon large>mdi-candycane</v-icon>
    <v-icon large>mdi-car</v-icon>
    <v-icon large>mdi-car-wash</v-icon>
    <v-icon large>mdi-carrot</v-icon>
    <v-icon large>mdi-cart</v-icon>
    <v-icon large>mdi-cart-outline</v-icon>
    <v-icon large>mdi-cash</v-icon>
    <v-icon large>mdi-cash-multiple</v-icon>
    <v-icon large>mdi-cash-usd</v-icon>
    <v-icon large>mdi-cast</v-icon>
    <v-icon large>mdi-cast-connected</v-icon>
    <v-icon large>mdi-castle</v-icon>
    <v-icon large>mdi-cellphone</v-icon>
    <v-icon large>mdi-cellphone-android</v-icon>
    <v-icon large>mdi-cellphone-dock</v-icon>
    <v-icon large>mdi-cellphone-iphone</v-icon>
    <v-icon large>mdi-cellphone-link</v-icon>
    <v-icon large>mdi-cellphone-link-off</v-icon>
    <v-icon large>mdi-cellphone-settings</v-icon>
    <v-icon large>mdi-chair-school</v-icon>
    <v-icon large>mdi-chart-arc</v-icon>
    <v-icon large>mdi-chart-bar</v-icon>
    <v-icon large>mdi-chart-histogram</v-icon>
    <v-icon large>mdi-chart-line</v-icon>
    <v-icon large>mdi-chart-pie</v-icon>
    <v-icon large>mdi-check</v-icon>
    <v-icon large>mdi-check-all</v-icon>
    <v-icon large>mdi-checkbox-blank</v-icon>
    <v-icon large>mdi-checkbox-blank-circle</v-icon>
    <v-icon large>mdi-checkbox-blank-circle-outline</v-icon>
    <v-icon large>mdi-checkbox-blank-outline</v-icon>
    <v-icon large>mdi-checkbox-marked</v-icon>
    <v-icon large>mdi-checkbox-marked-circle</v-icon>
    <v-icon large>mdi-checkbox-marked-circle-outline</v-icon>
    <v-icon large>mdi-checkbox-marked-outline</v-icon>
    <v-icon large>mdi-checkbox-multiple-blank</v-icon>
    <v-icon large>mdi-checkbox-multiple-blank-outline</v-icon>
    <v-icon large>mdi-checkbox-multiple-marked</v-icon>
    <v-icon large>mdi-checkbox-multiple-marked-outline</v-icon>
    <v-icon large>mdi-checkerboard</v-icon>
    <v-icon large>mdi-chevron-double-down</v-icon>
    <v-icon large>mdi-chevron-double-left</v-icon>
    <v-icon large>mdi-chevron-double-right</v-icon>
    <v-icon large>mdi-chevron-double-up</v-icon>
    <v-icon large>mdi-chevron-down</v-icon>
    <v-icon large>mdi-chevron-left</v-icon>
    <v-icon large>mdi-chevron-right</v-icon>
    <v-icon large>mdi-chevron-up</v-icon>
    <v-icon large>mdi-church</v-icon>
    <v-icon large>mdi-cisco-webex</v-icon>
    <v-icon large>mdi-city</v-icon>
    <v-icon large>mdi-clipboard</v-icon>
    <v-icon large>mdi-clipboard-account</v-icon>
    <v-icon large>mdi-clipboard-alert</v-icon>
    <v-icon large>mdi-clipboard-arrow-down</v-icon>
    <v-icon large>mdi-clipboard-arrow-left</v-icon>
    <v-icon large>mdi-clipboard-check</v-icon>
    <v-icon large>mdi-clipboard-outline</v-icon>
    <v-icon large>mdi-clipboard-text</v-icon>
    <v-icon large>mdi-clippy</v-icon>
    <v-icon large>mdi-clock</v-icon>
    <v-icon large>mdi-clock-fast</v-icon>
    <v-icon large>mdi-close</v-icon>
    <v-icon large>mdi-close-box</v-icon>
    <v-icon large>mdi-close-box-outline</v-icon>
    <v-icon large>mdi-close-circle</v-icon>
    <v-icon large>mdi-close-circle-outline</v-icon>
    <v-icon large>mdi-close-network</v-icon>
    <v-icon large>mdi-closed-caption</v-icon>
    <v-icon large>mdi-cloud</v-icon>
    <v-icon large>mdi-cloud-check</v-icon>
    <v-icon large>mdi-cloud-circle</v-icon>
    <v-icon large>mdi-cloud-download</v-icon>
    <v-icon large>mdi-cloud-outline</v-icon>
    <v-icon large>mdi-cloud-outline-off</v-icon>
    <v-icon large>mdi-cloud-upload</v-icon>
    <v-icon large>mdi-code-array</v-icon>
    <v-icon large>mdi-code-string</v-icon>
    <v-icon large>mdi-coffee</v-icon>
    <v-icon large>mdi-coffee-to-go</v-icon>
    <v-icon large>mdi-coin</v-icon>
    <v-icon large>mdi-color-helper</v-icon>
    <v-icon large>mdi-comment</v-icon>
    <v-icon large>mdi-comment-account</v-icon>
    <v-icon large>mdi-comment-account-outline</v-icon>
    <v-icon large>mdi-comment-alert</v-icon>
    <v-icon large>mdi-comment-alert-outline</v-icon>
    <v-icon large>mdi-comment-check</v-icon>
    <v-icon large>mdi-comment-check-outline</v-icon>
    <v-icon large>mdi-comment-multiple-outline</v-icon>
    <v-icon large>mdi-comment-outline</v-icon>
    <v-icon large>mdi-comment-plus-outline</v-icon>
    <v-icon large>mdi-comment-processing</v-icon>
    <v-icon large>mdi-comment-processing-outline</v-icon>
    <v-icon large>mdi-comment-remove-outline</v-icon>
    <v-icon large>mdi-comment-text</v-icon>
    <v-icon large>mdi-comment-text-outline</v-icon>
    <v-icon large>mdi-compare</v-icon>
    <v-icon large>mdi-compass</v-icon>
    <v-icon large>mdi-compass-outline</v-icon>
    <v-icon large>mdi-console</v-icon>
    <v-icon large>mdi-content-copy</v-icon>
    <v-icon large>mdi-content-cut</v-icon>
    <v-icon large>mdi-content-paste</v-icon>
    <v-icon large>mdi-content-save</v-icon>
    <v-icon large>mdi-content-save-all</v-icon>
    <v-icon large>mdi-contrast</v-icon>
    <v-icon large>mdi-contrast-box</v-icon>
    <v-icon large>mdi-contrast-circle</v-icon>
    <v-icon large>mdi-cow</v-icon>
    <v-icon large>mdi-credit-card</v-icon>
    <v-icon large>mdi-credit-card-multiple</v-icon>
    <v-icon large>mdi-crop</v-icon>
    <v-icon large>mdi-crop-free</v-icon>
    <v-icon large>mdi-crop-landscape</v-icon>
    <v-icon large>mdi-crop-portrait</v-icon>
    <v-icon large>mdi-crop-square</v-icon>
    <v-icon large>mdi-crosshairs</v-icon>
    <v-icon large>mdi-crosshairs-gps</v-icon>
    <v-icon large>mdi-cube</v-icon>
    <v-icon large>mdi-cube-outline</v-icon>
    <v-icon large>mdi-cube-unfolded</v-icon>
    <v-icon large>mdi-cup</v-icon>
    <v-icon large>mdi-cup-water</v-icon>
    <v-icon large>mdi-currency-btc</v-icon>
    <v-icon large>mdi-currency-eur</v-icon>
    <v-icon large>mdi-currency-gbp</v-icon>
    <v-icon large>mdi-currency-try</v-icon>
    <v-icon large>mdi-currency-usd</v-icon>
    <v-icon large>mdi-cursor-default</v-icon>
    <v-icon large>mdi-cursor-default-outline</v-icon>
    <v-icon large>mdi-cursor-move</v-icon>
    <v-icon large>mdi-cursor-pointer</v-icon>
    <v-icon large>mdi-database</v-icon>
    <v-icon large>mdi-database-minus</v-icon>
    <v-icon large>mdi-database-outline</v-icon>
    <v-icon large>mdi-database-plus</v-icon>
    <v-icon large>mdi-debug-step-into</v-icon>
    <v-icon large>mdi-debug-step-out</v-icon>
    <v-icon large>mdi-debug-step-over</v-icon>
    <v-icon large>mdi-delete</v-icon>
    <v-icon large>mdi-delete-variant</v-icon>
    <v-icon large>mdi-deskphone</v-icon>
    <v-icon large>mdi-desktop-mac</v-icon>
    <v-icon large>mdi-desktop-tower</v-icon>
    <v-icon large>mdi-details</v-icon>
    <v-icon large>mdi-deviantart</v-icon>
    <v-icon large>mdi-dice</v-icon>
    <v-icon large>mdi-dice-1</v-icon>
    <v-icon large>mdi-dice-2</v-icon>
    <v-icon large>mdi-dice-3</v-icon>
    <v-icon large>mdi-dice-4</v-icon>
    <v-icon large>mdi-dice-5</v-icon>
    <v-icon large>mdi-dice-6</v-icon>
    <v-icon large>mdi-directions</v-icon>
    <v-icon large>mdi-disk-alert</v-icon>
    <v-icon large>mdi-disqus</v-icon>
    <v-icon large>mdi-disqus-outline</v-icon>
    <v-icon large>mdi-division</v-icon>
    <v-icon large>mdi-division-box</v-icon>
    <v-icon large>mdi-dns</v-icon>
    <v-icon large>mdi-domain</v-icon>
    <v-icon large>mdi-dots-horizontal</v-icon>
    <v-icon large>mdi-dots-vertical</v-icon>
    <v-icon large>mdi-download</v-icon>
    <v-icon large>mdi-drag</v-icon>
    <v-icon large>mdi-drag-horizontal</v-icon>
    <v-icon large>mdi-drag-vertical</v-icon>
    <v-icon large>mdi-drawing</v-icon>
    <v-icon large>mdi-drawing-box</v-icon>
    <v-icon large>mdi-dribbble</v-icon>
    <v-icon large>mdi-dribbble-box</v-icon>
    <v-icon large>mdi-drone</v-icon>
    <v-icon large>mdi-dropbox</v-icon>
    <v-icon large>mdi-duck</v-icon>
    <v-icon large>mdi-dumbbell</v-icon>
    <v-icon large>mdi-earth</v-icon>
    <v-icon large>mdi-earth-off</v-icon>
    <v-icon large>mdi-edge</v-icon>
    <v-icon large>mdi-elevation-decline</v-icon>
    <v-icon large>mdi-elevation-rise</v-icon>
    <v-icon large>mdi-email</v-icon>
    <v-icon large>mdi-email-open</v-icon>
    <v-icon large>mdi-email-outline</v-icon>
    <v-icon large>mdi-emoticon</v-icon>
    <v-icon large>mdi-emoticon-cool</v-icon>
    <v-icon large>mdi-emoticon-devil</v-icon>
    <v-icon large>mdi-emoticon-happy</v-icon>
    <v-icon large>mdi-emoticon-neutral</v-icon>
    <v-icon large>mdi-emoticon-poop</v-icon>
    <v-icon large>mdi-emoticon-sad</v-icon>
    <v-icon large>mdi-emoticon-tongue</v-icon>
    <v-icon large>mdi-equal</v-icon>
    <v-icon large>mdi-equal-box</v-icon>
    <v-icon large>mdi-eraser</v-icon>
    <v-icon large>mdi-escalator</v-icon>
    <v-icon large>mdi-etsy</v-icon>
    <v-icon large>mdi-evernote</v-icon>
    <v-icon large>mdi-exclamation</v-icon>
    <v-icon large>mdi-exit-to-app</v-icon>
    <v-icon large>mdi-eye</v-icon>
    <v-icon large>mdi-eye-off</v-icon>
    <v-icon large>mdi-eyedropper</v-icon>
    <v-icon large>mdi-eyedropper-variant</v-icon>
    <v-icon large>mdi-facebook</v-icon>
    <v-icon large>mdi-facebook-box</v-icon>
    <v-icon large>mdi-facebook-messenger</v-icon>
    <v-icon large>mdi-factory</v-icon>
    <v-icon large>mdi-fan</v-icon>
    <v-icon large>mdi-fast-forward</v-icon>
    <v-icon large>mdi-ferry</v-icon>
    <v-icon large>mdi-file</v-icon>
    <v-icon large>mdi-file-cloud</v-icon>
    <v-icon large>mdi-file-delimited</v-icon>
    <v-icon large>mdi-file-document</v-icon>
    <v-icon large>mdi-file-document-box</v-icon>
    <v-icon large>mdi-file-excel</v-icon>
    <v-icon large>mdi-file-excel-box</v-icon>
    <v-icon large>mdi-file-find</v-icon>
    <v-icon large>mdi-file-image</v-icon>
    <v-icon large>mdi-file-image-box</v-icon>
    <v-icon large>mdi-file-music</v-icon>
    <v-icon large>mdi-file-outline</v-icon>
    <v-icon large>mdi-file-pdf</v-icon>
    <v-icon large>mdi-file-pdf-box</v-icon>
    <v-icon large>mdi-file-powerpoint</v-icon>
    <v-icon large>mdi-file-powerpoint-box</v-icon>
    <v-icon large>mdi-file-presentation-box</v-icon>
    <v-icon large>mdi-file-video</v-icon>
    <v-icon large>mdi-file-word</v-icon>
    <v-icon large>mdi-file-word-box</v-icon>
    <v-icon large>mdi-file-xml</v-icon>
    <v-icon large>mdi-film</v-icon>
    <v-icon large>mdi-filmstrip</v-icon>
    <v-icon large>mdi-filmstrip-off</v-icon>
    <v-icon large>mdi-filter</v-icon>
    <v-icon large>mdi-filter-outline</v-icon>
    <v-icon large>mdi-filter-remove</v-icon>
    <v-icon large>mdi-filter-remove-outline</v-icon>
    <v-icon large>mdi-filter-variant</v-icon>
    <v-icon large>mdi-fire</v-icon>
    <v-icon large>mdi-firefox</v-icon>
    <v-icon large>mdi-fish</v-icon>
    <v-icon large>mdi-flag</v-icon>
    <v-icon large>mdi-flag-checkered</v-icon>
    <v-icon large>mdi-flag-outline</v-icon>
    <v-icon large>mdi-flag-outline-variant</v-icon>
    <v-icon large>mdi-flag-triangle</v-icon>
    <v-icon large>mdi-flag-variant</v-icon>
    <v-icon large>mdi-flash</v-icon>
    <v-icon large>mdi-flash-auto</v-icon>
    <v-icon large>mdi-flash-off</v-icon>
    <v-icon large>mdi-flashlight</v-icon>
    <v-icon large>mdi-flashlight-off</v-icon>
    <v-icon large>mdi-flip-to-back</v-icon>
    <v-icon large>mdi-flip-to-front</v-icon>
    <v-icon large>mdi-floppy</v-icon>
    <v-icon large>mdi-flower</v-icon>
    <v-icon large>mdi-folder</v-icon>
    <v-icon large>mdi-folder-account</v-icon>
    <v-icon large>mdi-folder-download</v-icon>
    <v-icon large>mdi-folder-google-drive</v-icon>
    <v-icon large>mdi-folder-image</v-icon>
    <v-icon large>mdi-folder-lock</v-icon>
    <v-icon large>mdi-folder-lock-open</v-icon>
    <v-icon large>mdi-folder-move</v-icon>
    <v-icon large>mdi-folder-multiple</v-icon>
    <v-icon large>mdi-folder-multiple-image</v-icon>
    <v-icon large>mdi-folder-multiple-outline</v-icon>
    <v-icon large>mdi-folder-outline</v-icon>
    <v-icon large>mdi-folder-plus</v-icon>
    <v-icon large>mdi-folder-remove</v-icon>
    <v-icon large>mdi-folder-upload</v-icon>
    <v-icon large>mdi-food</v-icon>
    <v-icon large>mdi-food-apple</v-icon>
    <v-icon large>mdi-food-variant</v-icon>
    <v-icon large>mdi-football</v-icon>
    <v-icon large>mdi-football-helmet</v-icon>
    <v-icon large>mdi-format-align-center</v-icon>
    <v-icon large>mdi-format-align-justify</v-icon>
    <v-icon large>mdi-format-align-left</v-icon>
    <v-icon large>mdi-format-align-right</v-icon>
    <v-icon large>mdi-format-bold</v-icon>
    <v-icon large>mdi-format-clear</v-icon>
    <v-icon large>mdi-format-color-fill</v-icon>
    <v-icon large>mdi-format-header-1</v-icon>
    <v-icon large>mdi-format-header-2</v-icon>
    <v-icon large>mdi-format-header-3</v-icon>
    <v-icon large>mdi-format-header-4</v-icon>
    <v-icon large>mdi-format-header-5</v-icon>
    <v-icon large>mdi-format-header-6</v-icon>
    <v-icon large>mdi-format-header-pound</v-icon>
    <v-icon large>mdi-format-indent-decrease</v-icon>
    <v-icon large>mdi-format-indent-increase</v-icon>
    <v-icon large>mdi-format-italic</v-icon>
    <v-icon large>mdi-format-line-spacing</v-icon>
    <v-icon large>mdi-format-list-bulleted</v-icon>
    <v-icon large>mdi-format-list-numbers</v-icon>
    <v-icon large>mdi-format-paint</v-icon>
    <v-icon large>mdi-format-paragraph</v-icon>
    <v-icon large>mdi-format-quote</v-icon>
    <v-icon large>mdi-format-size</v-icon>
    <v-icon large>mdi-format-strikethrough</v-icon>
    <v-icon large>mdi-format-subscript</v-icon>
    <v-icon large>mdi-format-superscript</v-icon>
    <v-icon large>mdi-format-textdirection-l-to-r</v-icon>
    <v-icon large>mdi-format-textdirection-r-to-l</v-icon>
    <v-icon large>mdi-format-underline</v-icon>
    <v-icon large>mdi-forum</v-icon>
    <v-icon large>mdi-forward</v-icon>
    <v-icon large>mdi-foursquare</v-icon>
    <v-icon large>mdi-fridge</v-icon>
    <v-icon large>mdi-fullscreen</v-icon>
    <v-icon large>mdi-fullscreen-exit</v-icon>
    <v-icon large>mdi-function</v-icon>
    <v-icon large>mdi-gamepad</v-icon>
    <v-icon large>mdi-gamepad-variant</v-icon>
    <v-icon large>mdi-gas-station</v-icon>
    <v-icon large>mdi-gavel</v-icon>
    <v-icon large>mdi-gender-female</v-icon>
    <v-icon large>mdi-gender-male</v-icon>
    <v-icon large>mdi-gender-transgender</v-icon>
    <v-icon large>mdi-gift</v-icon>
    <v-icon large>mdi-github-box</v-icon>
    <v-icon large>mdi-github-circle</v-icon>
    <v-icon large>mdi-glass-flute</v-icon>
    <v-icon large>mdi-glass-mug</v-icon>
    <v-icon large>mdi-glass-stange</v-icon>
    <v-icon large>mdi-glass-tulip</v-icon>
    <v-icon large>mdi-gmail</v-icon>
    <v-icon large>mdi-google</v-icon>
    <v-icon large>mdi-google-chrome</v-icon>
    <v-icon large>mdi-google-circles</v-icon>
    <v-icon large>mdi-google-circles-communities</v-icon>
    <v-icon large>mdi-google-circles-extended</v-icon>
    <v-icon large>mdi-google-circles-group</v-icon>
    <v-icon large>mdi-google-controller</v-icon>
    <v-icon large>mdi-google-controller-off</v-icon>
    <v-icon large>mdi-google-drive</v-icon>
    <v-icon large>mdi-google-earth</v-icon>
    <v-icon large>mdi-google-glass</v-icon>
    <v-icon large>mdi-google-maps</v-icon>
    <v-icon large>mdi-google-pages</v-icon>
    <v-icon large>mdi-google-play</v-icon>
    <v-icon large>mdi-google-plus</v-icon>
    <v-icon large>mdi-google-plus-box</v-icon>
    <v-icon large>mdi-guitar-pick</v-icon>
    <v-icon large>mdi-guitar-pick-outline</v-icon>
    <v-icon large>mdi-hand-pointing-right</v-icon>
    <v-icon large>mdi-hanger</v-icon>
    <v-icon large>mdi-hangouts</v-icon>
    <v-icon large>mdi-harddisk</v-icon>
    <v-icon large>mdi-headphones</v-icon>
    <v-icon large>mdi-headphones-box</v-icon>
    <v-icon large>mdi-headphones-settings</v-icon>
    <v-icon large>mdi-headset</v-icon>
    <v-icon large>mdi-headset-dock</v-icon>
    <v-icon large>mdi-headset-off</v-icon>
    <v-icon large>mdi-heart</v-icon>
    <v-icon large>mdi-heart-box</v-icon>
    <v-icon large>mdi-heart-box-outline</v-icon>
    <v-icon large>mdi-heart-broken</v-icon>
    <v-icon large>mdi-heart-outline</v-icon>
    <v-icon large>mdi-help</v-icon>
    <v-icon large>mdi-help-circle</v-icon>
    <v-icon large>mdi-hexagon</v-icon>
    <v-icon large>mdi-hexagon-outline</v-icon>
    <v-icon large>mdi-history</v-icon>
    <v-icon large>mdi-home</v-icon>
    <v-icon large>mdi-home-modern</v-icon>
    <v-icon large>mdi-home-variant</v-icon>
    <v-icon large>mdi-hops</v-icon>
    <v-icon large>mdi-hospital</v-icon>
    <v-icon large>mdi-hospital-building</v-icon>
    <v-icon large>mdi-hospital-marker</v-icon>
    <v-icon large>mdi-hotel</v-icon>
    <v-icon large>mdi-houzz</v-icon>
    <v-icon large>mdi-houzz-box</v-icon>
    <v-icon large>mdi-human</v-icon>
    <v-icon large>mdi-human-child</v-icon>
    <v-icon large>mdi-human-male-female</v-icon>
    <v-icon large>mdi-image-album</v-icon>
    <v-icon large>mdi-image-area</v-icon>
    <v-icon large>mdi-image-area-close</v-icon>
    <v-icon large>mdi-image-broken</v-icon>
    <v-icon large>mdi-image-filter</v-icon>
    <v-icon large>mdi-image-filter-black-white</v-icon>
    <v-icon large>mdi-image-filter-center-focus</v-icon>
    <v-icon large>mdi-image-filter-drama</v-icon>
    <v-icon large>mdi-image-filter-frames</v-icon>
    <v-icon large>mdi-image-filter-hdr</v-icon>
    <v-icon large>mdi-image-filter-none</v-icon>
    <v-icon large>mdi-image-filter-tilt-shift</v-icon>
    <v-icon large>mdi-image-filter-vintage</v-icon>
    <v-icon large>mdi-inbox</v-icon>
    <v-icon large>mdi-information</v-icon>
    <v-icon large>mdi-information-outline</v-icon>
    <v-icon large>mdi-instagram</v-icon>
    <v-icon large>mdi-instapaper</v-icon>
    <v-icon large>mdi-internet-explorer</v-icon>
    <v-icon large>mdi-invert-colors</v-icon>
    <v-icon large>mdi-jira</v-icon>
    <v-icon large>mdi-keg</v-icon>
    <v-icon large>mdi-key</v-icon>
    <v-icon large>mdi-key-change</v-icon>
    <v-icon large>mdi-key-minus</v-icon>
    <v-icon large>mdi-key-plus</v-icon>
    <v-icon large>mdi-key-remove</v-icon>
    <v-icon large>mdi-key-variant</v-icon>
    <v-icon large>mdi-keyboard</v-icon>
    <v-icon large>mdi-keyboard-backspace</v-icon>
    <v-icon large>mdi-keyboard-caps</v-icon>
    <v-icon large>mdi-keyboard-close</v-icon>
    <v-icon large>mdi-keyboard-off</v-icon>
    <v-icon large>mdi-keyboard-return</v-icon>
    <v-icon large>mdi-keyboard-tab</v-icon>
    <v-icon large>mdi-label</v-icon>
    <v-icon large>mdi-label-outline</v-icon>
    <v-icon large>mdi-language-csharp</v-icon>
    <v-icon large>mdi-language-css3</v-icon>
    <v-icon large>mdi-language-html5</v-icon>
    <v-icon large>mdi-language-javascript</v-icon>
    <v-icon large>mdi-language-python</v-icon>
    <v-icon large>mdi-language-python-text</v-icon>
    <v-icon large>mdi-laptop</v-icon>
    <v-icon large>mdi-laptop-chromebook</v-icon>
    <v-icon large>mdi-laptop-mac</v-icon>
    <v-icon large>mdi-laptop-windows</v-icon>
    <v-icon large>mdi-lastfm</v-icon>
    <v-icon large>mdi-launch</v-icon>
    <v-icon large>mdi-layers</v-icon>
    <v-icon large>mdi-layers-off</v-icon>
    <v-icon large>mdi-leaf</v-icon>
    <v-icon large>mdi-library</v-icon>
    <v-icon large>mdi-library-books</v-icon>
    <v-icon large>mdi-library-music</v-icon>
    <v-icon large>mdi-library-plus</v-icon>
    <v-icon large>mdi-lightbulb</v-icon>
    <v-icon large>mdi-lightbulb-outline</v-icon>
    <v-icon large>mdi-link</v-icon>
    <v-icon large>mdi-link-variant</v-icon>
    <v-icon large>mdi-linkedin</v-icon>
    <v-icon large>mdi-linkedin-box</v-icon>
    <v-icon large>mdi-linux</v-icon>
    <v-icon large>mdi-lock</v-icon>
    <v-icon large>mdi-lock-open</v-icon>
    <v-icon large>mdi-lock-open-outline</v-icon>
    <v-icon large>mdi-lock-outline</v-icon>
    <v-icon large>mdi-login</v-icon>
    <v-icon large>mdi-logout</v-icon>
    <v-icon large>mdi-looks</v-icon>
    <v-icon large>mdi-loupe</v-icon>
    <v-icon large>mdi-lumx</v-icon>
    <v-icon large>mdi-magnify</v-icon>
    <v-icon large>mdi-magnify-minus</v-icon>
    <v-icon large>mdi-magnify-plus</v-icon>
    <v-icon large>mdi-map</v-icon>
    <v-icon large>mdi-map-marker</v-icon>
    <v-icon large>mdi-map-marker-circle</v-icon>
    <v-icon large>mdi-map-marker-multiple</v-icon>
    <v-icon large>mdi-map-marker-off</v-icon>
    <v-icon large>mdi-map-marker-radius</v-icon>
    <v-icon large>mdi-margin</v-icon>
    <v-icon large>mdi-markdown</v-icon>
    <v-icon large>mdi-marker-check</v-icon>
    <v-icon large>mdi-martini</v-icon>
    <v-icon large>mdi-material-ui</v-icon>
    <v-icon large>mdi-math-compass</v-icon>
    <v-icon large>mdi-memory</v-icon>
    <v-icon large>mdi-menu</v-icon>
    <v-icon large>mdi-menu-down</v-icon>
    <v-icon large>mdi-menu-left</v-icon>
    <v-icon large>mdi-menu-right</v-icon>
    <v-icon large>mdi-menu-up</v-icon>
    <v-icon large>mdi-message</v-icon>
    <v-icon large>mdi-message-alert</v-icon>
    <v-icon large>mdi-message-draw</v-icon>
    <v-icon large>mdi-message-image</v-icon>
    <v-icon large>mdi-message-processing</v-icon>
    <v-icon large>mdi-message-reply</v-icon>
    <v-icon large>mdi-message-text</v-icon>
    <v-icon large>mdi-message-text-outline</v-icon>
    <v-icon large>mdi-message-video</v-icon>
    <v-icon large>mdi-microphone</v-icon>
    <v-icon large>mdi-microphone-off</v-icon>
    <v-icon large>mdi-microphone-outline</v-icon>
    <v-icon large>mdi-microphone-settings</v-icon>
    <v-icon large>mdi-microphone-variant</v-icon>
    <v-icon large>mdi-microphone-variant-off</v-icon>
    <v-icon large>mdi-minus</v-icon>
    <v-icon large>mdi-minus-box</v-icon>
    <v-icon large>mdi-minus-circle</v-icon>
    <v-icon large>mdi-minus-circle-outline</v-icon>
    <v-icon large>mdi-minus-network</v-icon>
    <v-icon large>mdi-monitor</v-icon>
    <v-icon large>mdi-monitor-multiple</v-icon>
    <v-icon large>mdi-more</v-icon>
    <v-icon large>mdi-motorbike</v-icon>
    <v-icon large>mdi-mouse</v-icon>
    <v-icon large>mdi-mouse-off</v-icon>
    <v-icon large>mdi-mouse-variant</v-icon>
    <v-icon large>mdi-mouse-variant-off</v-icon>
    <v-icon large>mdi-movie</v-icon>
    <v-icon large>mdi-multiplication</v-icon>
    <v-icon large>mdi-multiplication-box</v-icon>
    <v-icon large>mdi-music-box</v-icon>
    <v-icon large>mdi-music-box-outline</v-icon>
    <v-icon large>mdi-music-circle</v-icon>
    <v-icon large>mdi-music-note</v-icon>
    <v-icon large>mdi-music-note-eighth</v-icon>
    <v-icon large>mdi-music-note-half</v-icon>
    <v-icon large>mdi-music-note-off</v-icon>
    <v-icon large>mdi-music-note-quarter</v-icon>
    <v-icon large>mdi-music-note-sixteenth</v-icon>
    <v-icon large>mdi-music-note-whole</v-icon>
    <v-icon large>mdi-nature</v-icon>
    <v-icon large>mdi-nature-people</v-icon>
    <v-icon large>mdi-navigation</v-icon>
    <v-icon large>mdi-needle</v-icon>
    <v-icon large>mdi-nest-protect</v-icon>
    <v-icon large>mdi-nest-thermostat</v-icon>
    <v-icon large>mdi-newspaper</v-icon>
    <v-icon large>mdi-nfc</v-icon>
    <v-icon large>mdi-nfc-tap</v-icon>
    <v-icon large>mdi-nfc-variant</v-icon>
    <v-icon large>mdi-numeric</v-icon>
    <v-icon large>mdi-numeric-0-box</v-icon>
    <v-icon large>mdi-numeric-0-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-0-box-outline</v-icon>
    <v-icon large>mdi-numeric-1-box</v-icon>
    <v-icon large>mdi-numeric-1-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-1-box-outline</v-icon>
    <v-icon large>mdi-numeric-2-box</v-icon>
    <v-icon large>mdi-numeric-2-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-2-box-outline</v-icon>
    <v-icon large>mdi-numeric-3-box</v-icon>
    <v-icon large>mdi-numeric-3-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-3-box-outline</v-icon>
    <v-icon large>mdi-numeric-4-box</v-icon>
    <v-icon large>mdi-numeric-4-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-4-box-outline</v-icon>
    <v-icon large>mdi-numeric-5-box</v-icon>
    <v-icon large>mdi-numeric-5-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-5-box-outline</v-icon>
    <v-icon large>mdi-numeric-6-box</v-icon>
    <v-icon large>mdi-numeric-6-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-6-box-outline</v-icon>
    <v-icon large>mdi-numeric-7-box</v-icon>
    <v-icon large>mdi-numeric-7-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-7-box-outline</v-icon>
    <v-icon large>mdi-numeric-8-box</v-icon>
    <v-icon large>mdi-numeric-8-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-8-box-outline</v-icon>
    <v-icon large>mdi-numeric-9-box</v-icon>
    <v-icon large>mdi-numeric-9-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-9-box-outline</v-icon>
    <v-icon large>mdi-numeric-9-plus-box</v-icon>
    <v-icon large>mdi-numeric-9-plus-box-multiple-outline</v-icon>
    <v-icon large>mdi-numeric-9-plus-box-outline</v-icon>
    <v-icon large>mdi-nutriton</v-icon>
    <v-icon large>mdi-office</v-icon>
    <v-icon large>mdi-oil</v-icon>
    <v-icon large>mdi-omega</v-icon>
    <v-icon large>mdi-onedrive</v-icon>
    <v-icon large>mdi-open-in-app</v-icon>
    <v-icon large>mdi-open-in-new</v-icon>
    <v-icon large>mdi-ornament</v-icon>
    <v-icon large>mdi-ornament-variant</v-icon>
    <v-icon large>mdi-outbox</v-icon>
    <v-icon large>mdi-package</v-icon>
    <v-icon large>mdi-package-down</v-icon>
    <v-icon large>mdi-package-up</v-icon>
    <v-icon large>mdi-package-variant</v-icon>
    <v-icon large>mdi-package-variant-closed</v-icon>
    <v-icon large>mdi-palette</v-icon>
    <v-icon large>mdi-palette-advanced</v-icon>
    <v-icon large>mdi-panda</v-icon>
    <v-icon large>mdi-pandora</v-icon>
    <v-icon large>mdi-panorama</v-icon>
    <v-icon large>mdi-panorama-fisheye</v-icon>
    <v-icon large>mdi-panorama-horizontal</v-icon>
    <v-icon large>mdi-panorama-vertical</v-icon>
    <v-icon large>mdi-panorama-wide-angle</v-icon>
    <v-icon large>mdi-paper-cut-vertical</v-icon>
    <v-icon large>mdi-paperclip</v-icon>
    <v-icon large>mdi-parking</v-icon>
    <v-icon large>mdi-pause</v-icon>
    <v-icon large>mdi-pause-circle</v-icon>
    <v-icon large>mdi-pause-circle-outline</v-icon>
    <v-icon large>mdi-pause-octagon</v-icon>
    <v-icon large>mdi-pause-octagon-outline</v-icon>
    <v-icon large>mdi-pen</v-icon>
    <v-icon large>mdi-pencil</v-icon>
    <v-icon large>mdi-pencil-box</v-icon>
    <v-icon large>mdi-pencil-box-outline</v-icon>
    <v-icon large>mdi-pharmacy</v-icon>
    <v-icon large>mdi-phone</v-icon>
    <v-icon large>mdi-phone-bluetooth</v-icon>
    <v-icon large>mdi-phone-forward</v-icon>
    <v-icon large>mdi-phone-hangup</v-icon>
    <v-icon large>mdi-phone-in-talk</v-icon>
    <v-icon large>mdi-phone-locked</v-icon>
    <v-icon large>mdi-phone-missed</v-icon>
    <v-icon large>mdi-phone-paused</v-icon>
    <v-icon large>mdi-phone-settings</v-icon>
    <v-icon large>mdi-pig</v-icon>
    <v-icon large>mdi-pill</v-icon>
    <v-icon large>mdi-pin</v-icon>
    <v-icon large>mdi-pin-off</v-icon>
    <v-icon large>mdi-pine-tree</v-icon>
    <v-icon large>mdi-pine-tree-box</v-icon>
    <v-icon large>mdi-pinterest</v-icon>
    <v-icon large>mdi-pinterest-box</v-icon>
    <v-icon large>mdi-pizza</v-icon>
    <v-icon large>mdi-play</v-icon>
    <v-icon large>mdi-play-box-outline</v-icon>
    <v-icon large>mdi-play-circle</v-icon>
    <v-icon large>mdi-play-circle-outline</v-icon>
    <v-icon large>mdi-playlist-minus</v-icon>
    <v-icon large>mdi-playlist-plus</v-icon>
    <v-icon large>mdi-plus</v-icon>
    <v-icon large>mdi-plus-box</v-icon>
    <v-icon large>mdi-plus-circle</v-icon>
    <v-icon large>mdi-plus-circle-outline</v-icon>
    <v-icon large>mdi-plus-network</v-icon>
    <v-icon large>mdi-plus-one</v-icon>
    <v-icon large>mdi-pocket</v-icon>
    <v-icon large>mdi-poll</v-icon>
    <v-icon large>mdi-poll-box</v-icon>
    <v-icon large>mdi-polymer</v-icon>
    <v-icon large>mdi-popcorn</v-icon>
    <v-icon large>mdi-pound</v-icon>
    <v-icon large>mdi-pound-box</v-icon>
    <v-icon large>mdi-power</v-icon>
    <v-icon large>mdi-power-settings</v-icon>
    <v-icon large>mdi-presentation</v-icon>
    <v-icon large>mdi-presentation-play</v-icon>
    <v-icon large>mdi-printer</v-icon>
    <v-icon large>mdi-printer-3d</v-icon>
    <v-icon large>mdi-pulse</v-icon>
    <v-icon large>mdi-puzzle</v-icon>
    <v-icon large>mdi-qrcode</v-icon>
    <v-icon large>mdi-quadcopter</v-icon>
    <v-icon large>mdi-quality-high</v-icon>
    <v-icon large>mdi-quicktime</v-icon>
    <v-icon large>mdi-radiator</v-icon>
    <v-icon large>mdi-radioactive</v-icon>
    <v-icon large>mdi-radiobox-blank</v-icon>
    <v-icon large>mdi-radiobox-marked</v-icon>
    <v-icon large>mdi-rdio</v-icon>
    <v-icon large>mdi-read</v-icon>
    <v-icon large>mdi-readability</v-icon>
    <v-icon large>mdi-receipt</v-icon>
    <v-icon large>mdi-recycle</v-icon>
    <v-icon large>mdi-redo</v-icon>
    <v-icon large>mdi-redo-variant</v-icon>
    <v-icon large>mdi-refresh</v-icon>
    <v-icon large>mdi-relative-scale</v-icon>
    <v-icon large>mdi-reload</v-icon>
    <v-icon large>mdi-remote</v-icon>
    <v-icon large>mdi-rename-box</v-icon>
    <v-icon large>mdi-repeat</v-icon>
    <v-icon large>mdi-repeat-off</v-icon>
    <v-icon large>mdi-repeat-once</v-icon>
    <v-icon large>mdi-replay</v-icon>
    <v-icon large>mdi-reply</v-icon>
    <v-icon large>mdi-reply-all</v-icon>
    <v-icon large>mdi-reproduction</v-icon>
    <v-icon large>mdi-resize-bottom-right</v-icon>
    <v-icon large>mdi-responsive</v-icon>
    <v-icon large>mdi-rewind</v-icon>
    <v-icon large>mdi-ribbon</v-icon>
    <v-icon large>mdi-rocket</v-icon>
    <v-icon large>mdi-rotate-3d</v-icon>
    <v-icon large>mdi-rotate-left</v-icon>
    <v-icon large>mdi-rotate-left-variant</v-icon>
    <v-icon large>mdi-rotate-right</v-icon>
    <v-icon large>mdi-rotate-right-variant</v-icon>
    <v-icon large>mdi-routes</v-icon>
    <v-icon large>mdi-rss</v-icon>
    <v-icon large>mdi-rss-box</v-icon>
    <v-icon large>mdi-ruler</v-icon>
    <v-icon large>mdi-run</v-icon>
    <v-icon large>mdi-satellite</v-icon>
    <v-icon large>mdi-satellite-variant</v-icon>
    <v-icon large>mdi-scale</v-icon>
    <v-icon large>mdi-scale-bathroom</v-icon>
    <v-icon large>mdi-school</v-icon>
    <v-icon large>mdi-screen-rotation</v-icon>
    <v-icon large>mdi-screen-rotation-lock</v-icon>
    <v-icon large>mdi-script</v-icon>
    <v-icon large>mdi-sd</v-icon>
    <v-icon large>mdi-security</v-icon>
    <v-icon large>mdi-security-network</v-icon>
    <v-icon large>mdi-select</v-icon>
    <v-icon large>mdi-select-all</v-icon>
    <v-icon large>mdi-select-inverse</v-icon>
    <v-icon large>mdi-select-off</v-icon>
    <v-icon large>mdi-send</v-icon>
    <v-icon large>mdi-server</v-icon>
    <v-icon large>mdi-server-minus</v-icon>
    <v-icon large>mdi-server-network</v-icon>
    <v-icon large>mdi-server-network-off</v-icon>
    <v-icon large>mdi-server-off</v-icon>
    <v-icon large>mdi-server-plus</v-icon>
    <v-icon large>mdi-server-remove</v-icon>
    <v-icon large>mdi-server-security</v-icon>
    <v-icon large>mdi-settings</v-icon>
    <v-icon large>mdi-settings-box</v-icon>
    <v-icon large>mdi-shape-plus</v-icon>
    <v-icon large>mdi-share</v-icon>
    <v-icon large>mdi-share-variant</v-icon>
    <v-icon large>mdi-shopping</v-icon>
    <v-icon large>mdi-shopping-music</v-icon>
    <v-icon large>mdi-shuffle</v-icon>
    <v-icon large>mdi-sigma</v-icon>
    <v-icon large>mdi-sign-caution</v-icon>
    <v-icon large>mdi-silverware</v-icon>
    <v-icon large>mdi-silverware-fork</v-icon>
    <v-icon large>mdi-silverware-spoon</v-icon>
    <v-icon large>mdi-silverware-variant</v-icon>
    <v-icon large>mdi-sim-alert</v-icon>
    <v-icon large>mdi-skip-next</v-icon>
    <v-icon large>mdi-skip-previous</v-icon>
    <v-icon large>mdi-snowman</v-icon>
    <v-icon large>mdi-sort</v-icon>
    <v-icon large>mdi-sort-alphabetical</v-icon>
    <v-icon large>mdi-sort-ascending</v-icon>
    <v-icon large>mdi-sort-descending</v-icon>
    <v-icon large>mdi-sort-numeric</v-icon>
    <v-icon large>mdi-sort-variant</v-icon>
    <v-icon large>mdi-soundcloud</v-icon>
    <v-icon large>mdi-source-fork</v-icon>
    <v-icon large>mdi-source-pull</v-icon>
    <v-icon large>mdi-speaker</v-icon>
    <v-icon large>mdi-speaker-off</v-icon>
    <v-icon large>mdi-speedometer</v-icon>
    <v-icon large>mdi-spellcheck</v-icon>
    <v-icon large>mdi-spotify</v-icon>
    <v-icon large>mdi-spotlight</v-icon>
    <v-icon large>mdi-spotlight-beam</v-icon>
    <v-icon large>mdi-stackoverflow</v-icon>
    <v-icon large>mdi-star</v-icon>
    <v-icon large>mdi-star-circle</v-icon>
    <v-icon large>mdi-star-half</v-icon>
    <v-icon large>mdi-star-outline</v-icon>
    <v-icon large>mdi-stocking</v-icon>
    <v-icon large>mdi-stop</v-icon>
    <v-icon large>mdi-store</v-icon>
    <v-icon large>mdi-store-24-hour</v-icon>
    <v-icon large>mdi-stove</v-icon>
    <v-icon large>mdi-subway</v-icon>
    <v-icon large>mdi-swap-horizontal</v-icon>
    <v-icon large>mdi-swap-vertical</v-icon>
    <v-icon large>mdi-swim</v-icon>
    <v-icon large>mdi-sword</v-icon>
    <v-icon large>mdi-sync</v-icon>
    <v-icon large>mdi-sync-alert</v-icon>
    <v-icon large>mdi-sync-off</v-icon>
    <v-icon large>mdi-tab</v-icon>
    <v-icon large>mdi-tab-unselected</v-icon>
    <v-icon large>mdi-table</v-icon>
    <v-icon large>mdi-table-column-plus-after</v-icon>
    <v-icon large>mdi-table-column-plus-before</v-icon>
    <v-icon large>mdi-table-column-remove</v-icon>
    <v-icon large>mdi-table-column-width</v-icon>
    <v-icon large>mdi-table-edit</v-icon>
    <v-icon large>mdi-table-large</v-icon>
    <v-icon large>mdi-table-row-height</v-icon>
    <v-icon large>mdi-table-row-plus-after</v-icon>
    <v-icon large>mdi-table-row-plus-before</v-icon>
    <v-icon large>mdi-table-row-remove</v-icon>
    <v-icon large>mdi-tablet</v-icon>
    <v-icon large>mdi-tablet-android</v-icon>
    <v-icon large>mdi-tablet-ipad</v-icon>
    <v-icon large>mdi-tag</v-icon>
    <v-icon large>mdi-tag-faces</v-icon>
    <v-icon large>mdi-tag-outline</v-icon>
    <v-icon large>mdi-tag-text-outline</v-icon>
    <v-icon large>mdi-taxi</v-icon>
    <v-icon large>mdi-television</v-icon>
    <v-icon large>mdi-television-guide</v-icon>
    <v-icon large>mdi-temperature-celsius</v-icon>
    <v-icon large>mdi-temperature-fahrenheit</v-icon>
    <v-icon large>mdi-temperature-kelvin</v-icon>
    <v-icon large>mdi-tent</v-icon>
    <v-icon large>mdi-terrain</v-icon>
    <v-icon large>mdi-text-to-speech</v-icon>
    <v-icon large>mdi-text-to-speech-off</v-icon>
    <v-icon large>mdi-texture</v-icon>
    <v-icon large>mdi-theater</v-icon>
    <v-icon large>mdi-theme-light-dark</v-icon>
    <v-icon large>mdi-thermometer</v-icon>
    <v-icon large>mdi-thermometer-lines</v-icon>
    <v-icon large>mdi-thumb-down</v-icon>
    <v-icon large>mdi-thumb-down-outline</v-icon>
    <v-icon large>mdi-thumb-up</v-icon>
    <v-icon large>mdi-thumb-up-outline</v-icon>
    <v-icon large>mdi-thumbs-up-down</v-icon>
    <v-icon large>mdi-ticket</v-icon>
    <v-icon large>mdi-ticket-account</v-icon>
    <v-icon large>mdi-tie</v-icon>
    <v-icon large>mdi-timelapse</v-icon>
    <v-icon large>mdi-timer</v-icon>
    <v-icon large>mdi-timer-10</v-icon>
    <v-icon large>mdi-timer-3</v-icon>
    <v-icon large>mdi-timer-off</v-icon>
    <v-icon large>mdi-timer-sand</v-icon>
    <v-icon large>mdi-timetable</v-icon>
    <v-icon large>mdi-toggle-switch</v-icon>
    <v-icon large>mdi-toggle-switch-off</v-icon>
    <v-icon large>mdi-tooltip</v-icon>
    <v-icon large>mdi-tooltip-edit</v-icon>
    <v-icon large>mdi-tooltip-image</v-icon>
    <v-icon large>mdi-tooltip-outline</v-icon>
    <v-icon large>mdi-tooltip-outline-plus</v-icon>
    <v-icon large>mdi-tooltip-text</v-icon>
    <v-icon large>mdi-tor</v-icon>
    <v-icon large>mdi-traffic-light</v-icon>
    <v-icon large>mdi-train</v-icon>
    <v-icon large>mdi-tram</v-icon>
    <v-icon large>mdi-transcribe</v-icon>
    <v-icon large>mdi-transcribe-close</v-icon>
    <v-icon large>mdi-transfer</v-icon>
    <v-icon large>mdi-tree</v-icon>
    <v-icon large>mdi-trello</v-icon>
    <v-icon large>mdi-trending-down</v-icon>
    <v-icon large>mdi-trending-neutral</v-icon>
    <v-icon large>mdi-trending-up</v-icon>
    <v-icon large>mdi-trophy</v-icon>
    <v-icon large>mdi-trophy-award</v-icon>
    <v-icon large>mdi-trophy-variant</v-icon>
    <v-icon large>mdi-truck</v-icon>
    <v-icon large>mdi-tshirt-crew</v-icon>
    <v-icon large>mdi-tshirt-v</v-icon>
    <v-icon large>mdi-tumblr</v-icon>
    <v-icon large>mdi-tumblr-reblog</v-icon>
    <v-icon large>mdi-twitch</v-icon>
    <v-icon large>mdi-twitter</v-icon>
    <v-icon large>mdi-twitter-box</v-icon>
    <v-icon large>mdi-twitter-retweet</v-icon>
    <v-icon large>mdi-ubuntu</v-icon>
    <v-icon large>mdi-undo</v-icon>
    <v-icon large>mdi-undo-variant</v-icon>
    <v-icon large>mdi-unfold-less</v-icon>
    <v-icon large>mdi-unfold-more</v-icon>
    <v-icon large>mdi-untappd</v-icon>
    <v-icon large>mdi-upload</v-icon>
    <v-icon large>mdi-usb</v-icon>
    <v-icon large>mdi-vector-curve</v-icon>
    <v-icon large>mdi-vector-point</v-icon>
    <v-icon large>mdi-vector-square</v-icon>
    <v-icon large>mdi-verified</v-icon>
    <v-icon large>mdi-vibrate</v-icon>
    <v-icon large>mdi-video</v-icon>
    <v-icon large>mdi-video-off</v-icon>
    <v-icon large>mdi-video-switch</v-icon>
    <v-icon large>mdi-view-agenda</v-icon>
    <v-icon large>mdi-view-array</v-icon>
    <v-icon large>mdi-view-carousel</v-icon>
    <v-icon large>mdi-view-column</v-icon>
    <v-icon large>mdi-view-dashboard</v-icon>
    <v-icon large>mdi-view-day</v-icon>
    <v-icon large>mdi-view-headline</v-icon>
    <v-icon large>mdi-view-list</v-icon>
    <v-icon large>mdi-view-module</v-icon>
    <v-icon large>mdi-view-quilt</v-icon>
    <v-icon large>mdi-view-stream</v-icon>
    <v-icon large>mdi-view-week</v-icon>
    <v-icon large>mdi-vimeo</v-icon>
    <v-icon large>mdi-vk</v-icon>
    <v-icon large>mdi-voicemail</v-icon>
    <v-icon large>mdi-volume-high</v-icon>
    <v-icon large>mdi-volume-low</v-icon>
    <v-icon large>mdi-volume-medium</v-icon>
    <v-icon large>mdi-volume-off</v-icon>
    <v-icon large>mdi-walk</v-icon>
    <v-icon large>mdi-wallet</v-icon>
    <v-icon large>mdi-wallet-giftcard</v-icon>
    <v-icon large>mdi-wallet-membership</v-icon>
    <v-icon large>mdi-wallet-travel</v-icon>
    <v-icon large>mdi-watch</v-icon>
    <v-icon large>mdi-watch-export</v-icon>
    <v-icon large>mdi-watch-import</v-icon>
    <v-icon large>mdi-water</v-icon>
    <v-icon large>mdi-water-off</v-icon>
    <v-icon large>mdi-water-pump</v-icon>
    <v-icon large>mdi-weather-cloudy</v-icon>
    <v-icon large>mdi-weather-hail</v-icon>
    <v-icon large>mdi-weather-lightning</v-icon>
    <v-icon large>mdi-weather-night</v-icon>
    <v-icon large>mdi-weather-partlycloudy</v-icon>
    <v-icon large>mdi-weather-pouring</v-icon>
    <v-icon large>mdi-weather-rainy</v-icon>
    <v-icon large>mdi-weather-snowy</v-icon>
    <v-icon large>mdi-weather-sunny</v-icon>
    <v-icon large>mdi-weather-sunset</v-icon>
    <v-icon large>mdi-weather-sunset-down</v-icon>
    <v-icon large>mdi-weather-sunset-up</v-icon>
    <v-icon large>mdi-weather-windy</v-icon>
    <v-icon large>mdi-weather-windy-variant</v-icon>
    <v-icon large>mdi-web</v-icon>
    <v-icon large>mdi-webcam</v-icon>
    <v-icon large>mdi-weight</v-icon>
    <v-icon large>mdi-weight-kilogram</v-icon>
    <v-icon large>mdi-whatsapp</v-icon>
    <v-icon large>mdi-wheelchair-accessibility</v-icon>
    <v-icon large>mdi-white-balance-auto</v-icon>
    <v-icon large>mdi-white-balance-incandescent</v-icon>
    <v-icon large>mdi-white-balance-irradescent</v-icon>
    <v-icon large>mdi-white-balance-sunny</v-icon>
    <v-icon large>mdi-wifi</v-icon>
    <v-icon large>mdi-wikipedia</v-icon>
    <v-icon large>mdi-window-close</v-icon>
    <v-icon large>mdi-window-closed</v-icon>
    <v-icon large>mdi-window-maximize</v-icon>
    <v-icon large>mdi-window-minimize</v-icon>
    <v-icon large>mdi-window-open</v-icon>
    <v-icon large>mdi-window-restore</v-icon>
    <v-icon large>mdi-windows</v-icon>
    <v-icon large>mdi-wordpress</v-icon>
    <v-icon large>mdi-xbox</v-icon>
    <v-icon large>mdi-xbox-controller</v-icon>
    <v-icon large>mdi-xbox-controller-off</v-icon>
    <v-icon large>mdi-xda</v-icon>
    <v-icon large>mdi-xml</v-icon>
    <v-icon large>mdi-yeast</v-icon>
    <v-icon large>mdi-youtube-play</v-icon>
    <v-icon large>mdi-zip-box</v-icon>
</v-row>