<template src="./Details.html">
</template>
<script>

    export default {
        props: ["itemId"],
        created() {
            //this.$store.dispatch('samples/getDetails', this.itemId);
        },
        computed: {
            sample() {
                return this.$store.state.samples.sample;
            }
        },
        data: () => ({
            
            dateFlag: false,
            select: null,
            checkbox: false,
            items: [
                'Item 1',
                'Item 2',
                'Item 3',
                'Item 4',
            ],
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
        },
    }
</script>