﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">تفاصيل عينة</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary" @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <v-row class="my-4" align-content="space-between">
            <v-col cols="3">
                    <v-text-field v-model="sample.sampleName"
                                  readonly
                                  label="اسم العينة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="sample.description"
                                  readonly
                                  label="وصف العينة" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                    <v-text-field v-model="sample.createdBy"
                                  readonly
                                  label="المنشا" >
                    </v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="sample.createdOn"
                              readonly
                              label="المنشا" >
                </v-text-field>
            </v-col>
        </v-row>
    </v-container>
</div>