<v-container>
    <!--------------------------------------------------------->
    <v-subheader>Form with validation</v-subheader>
    <v-divider></v-divider>

    <v-form ref="form" v-model="valid" lazy-validation>
        <v-row align-content="space-between">
            <v-col cols="3">
                <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name" required></v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
            </v-col>
            <v-col cols="3">
                <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" label="Item"
                    required>
                </v-select>
            </v-col>
            <v-col cols="3">
                <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" label="Item"
                    required>
                </v-select>
            </v-col>
        </v-row>
        <v-checkbox v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']" label="Do you agree?"
            required></v-checkbox>

        <v-row no-gutters>
            <v-btn class="mr-4" :disabled="!valid" color="success" @click="validate">
                Validate
            </v-btn>

            <v-btn class="mr-4" color="error" @click="reset">
                Reset Form
            </v-btn>

            <v-btn class="mr-4" color="warning" @click="resetValidation">
                Reset Validation
            </v-btn>
        </v-row>
    </v-form>
    <!--------------------------------------------------------->
    
</v-container>