<template src="./Navbar.html">
  
</template>

<script>
    export default {
    data: ()=>({
        languages:[
            {id:1, locale:"ar", description:"Arabic"},
            {id:2, locale:"en", description:"English"},
            //{id:3, locale:"sv", description:"Arabic"},
        ],
    }),
    methods:{
        changeLanguage(language){
            this.$vuetify.lang.current = language.locale
            this.$vuetify.rtl = language.locale == 'ar' ? true : false
        },
        drawerAction(){
            this.$emit("drawerAction");
        }
    }
}
</script>
