<v-app-bar app elevate-on-scroll scroll-target="#scrolling-techniques-7">
    <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

    <!-- <v-toolbar-title>Title</v-toolbar-title> -->
    <!-- <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
    </v-btn> -->
    <v-app-bar-nav-icon @click.stop="drawerAction"></v-app-bar-nav-icon>

    <v-spacer></v-spacer>
    <v-col cols="6" md="6">
        <v-text-field ></v-text-field>
    </v-col>

    <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn icon>
        <v-icon>mdi-heart</v-icon>
    </v-btn>
    <v-menu left top>
        <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-translate </v-icon>
            </v-btn>
        </template>

        <v-list>
            <v-list-item v-for="language in languages" :key="language.id" @click="changeLanguage(language)">
                <v-list-item-title>{{ language.description }}</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
    
</v-app-bar>