<v-app>
    <navbar @drawerAction="drawerAction"></navbar>>
    <sidebar :drawer="drawer"></sidebar>
    <!--********-->
    <!-- Sizes your content based upon application components -->
    <v-main>
        <!-- Provides the application the proper gutter -->
        <v-container fluid>
            <!-- <v-breadcrumbs :items="items">
                <template v-slot:item="{ item }">
                    <v-breadcrumbs-item :href="item.href" :disabled="item.disabled">
                        {{ item.text.toUpperCase() }}
                    </v-breadcrumbs-item>
                </template>
            </v-breadcrumbs> -->

            <v-card min-height="500">
                
                <router-view/>
                <v-overlay :value="loading" v-if="loading">
                    <v-progress-circular class="loading" indeterminate :size="70" :width="7" color="purple"/>

                </v-overlay>
                <Notify/>
                <AlertDialog/>

            </v-card>
            <!-- If using vue-router -->
        </v-container>
    </v-main>

    <!-- <v-footer app inset>
        <v-switch color="secondary" v-model="$vuetify.theme.dark" inset></v-switch>
    </v-footer> -->
</v-app>