<template src="./Layout.html">
  
</template>

<script>
import Sidebar from './sidebar/Sidebar.vue'
import Navbar from './navbar/Navbar.vue'
// import {eventBus} from '../main.js'
export default {

    components: {
        Sidebar,
        Navbar
    },
    computed: {
        loading() {
          return this.$store.state.loading.loading
        }
    },
    created() {
        console.log(this.$router.options.routes)
        // eventBus.$on('loading', (data) => {
        //     this.loading = data;
        // })
    },

    data: () => ({
        drawer: true,
        themeColor: null,
        //selectedRoute:[],
        // selectedRoute:{
        //     title: 'Dashboard',
        //      icon: 'mdi-view-dashboard',
        //      link:"/",
        // },
        // items: [
        //     {
        //         text: 'عينة',
        //         disabled: true,
        //         href: 'breadcrumbs_dashboard',
        //     },
        //     {
        //         text: 'الفورمز',
        //         disabled: false,
        //         href: 'breadcrumbs_link_1',
        //     },
        //     {
        //         text: 'الجداول',
        //         disabled: true,
        //         href: 'breadcrumbs_link_2',
        //     },
        // ],
        
        languages:[
            {id:1, locale:"ar", description:"Arabic"},
            {id:2, locale:"en", description:"English"},
        ]
    }),
    methods:{
        changeLanguage(language){
            this.$vuetify.lang.current = language.locale
            this.$vuetify.rtl = language.locale == 'ar' ? true : false
        },
        drawerAction(){
            this.drawer = !this.drawer;
        }
    }
}
</script>
