﻿<template src="./Index.html">
</template>

<script>
    import AddSample from './actions/Add'
    import EditSample from './actions/Edit'
    import DetailsSample from './details/Details'
    export default {
        components: {
            AddSample,
            EditSample,
            DetailsSample
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                search: null
            },
            dialogDelete: false,
            dialog: false,
            headers: [
                {
                    text: 'رقم العينة',
                    //align: 'start',
                    //sortable: false,
                    value: 'sampleId',
                },
                { text: 'اسم العينة', value: 'sampleName' },
                { text: 'الوصف', value: 'description' },
                { text: 'منشا بواسطة', value: 'createdBy' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'Actions', value: 'actions', sortable: false },
            ],
            // samples: [],
        }),

        computed: {
            samples() {
                return this.$store.state.samples.samples
            },
            totalItems() {
                return Math.floor(this.$store.state.samples.totalItems / this.filter.pageSize);
            }
        },

        watch: {

            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.getAll();
        },

        methods: {
            getAll() {
                //this.$store.dispatch('samples/getAll', this.filter);
            },
            add() {
                this.view = 1;
            },
            edit(item) {
                this.itemId = item.sampleId;
                this.view = 2;
            },
            details(item) {
                this.itemId = item.sampleId;
                this.view = 3;
            },



            deleteItem(item) {
                this.itemId = item.sampleId
                this.dialogDelete = true
            },

            deleteItemConfirm() {
                this.$store.dispatch('samples/delete', this.itemId);
                this.closeDelete()
            },

            closeDelete() {
                this.dialogDelete = false
            },


            reloadPage(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>