<v-container>
    <v-subheader>Form with validation-observer</v-subheader>
    <v-divider></v-divider>
    <validation-observer ref="observer" v-slot="{ invalid }">
        <form @submit.prevent="submit">
            <v-row align-content="space-between">
                <v-col cols="3">
                    <validation-provider v-slot="{ errors }" name="Name" rules="required|max:10">
                        <v-text-field v-model="name" :counter="10" :error-messages="errors" label="sddd" required>
                        </v-text-field>
                    </validation-provider>
                </v-col>
                <v-col cols="3">
                    <validation-provider v-slot="{ errors }" name="Name" rules="minLength">
                        <v-text-field v-model="name" :error-messages="errors" label="Name">
                        </v-text-field>
                    </validation-provider>
                </v-col>
                <v-col cols="3">
                    <validation-provider v-slot="{ errors }" name="Name" rules="required|max:10">
                        <v-text-field v-model="name" :counter="10" :error-messages="errors" label="Name" required>
                        </v-text-field>
                    </validation-provider>
                </v-col>
                <v-col cols="3">
                    <validation-provider v-slot="{ errors }" name="Name" rules="required|max:10">
                        <v-text-field v-model="name" :counter="10" :error-messages="errors" label="Name" required>
                        </v-text-field>
                    </validation-provider>
                </v-col>
                <v-col col="3">
                    <validation-provider v-slot="{ errors }" name="phoneNumber" :rules="{
                        required: true,
                        digits: 7,
                        regex: '^(71|72|74|76|81|82|84|85|86|87|88|89)\\d{5}$'
                        }">
                        <v-text-field v-model="phoneNumber" :counter="7" :error-messages="errors" label="Phone Number"
                            required>
                        </v-text-field>
                    </validation-provider>
                </v-col>
                <v-col col="3">
                    <validation-provider v-slot="{ errors }" name="email" rules="required|email">
                        <v-text-field v-model="email" :error-messages="errors" label="E-mail" required></v-text-field>
                    </validation-provider>
                </v-col>
                <v-col col="3">
                    <validation-provider v-slot="{ errors }" name="select" rules="required">
                        <v-select v-model="select" :items="items" :error-messages="errors" label="Select"
                            data-vv-name="select" required></v-select>
                    </validation-provider>
                </v-col>
                <v-col col="3">
                    <validation-provider v-slot="{ errors }" rules="required" name="checkbox">
                        <v-checkbox v-model="checkbox" :error-messages="errors" value="1" label="Option" type="checkbox"
                            required></v-checkbox>
                    </validation-provider>
                </v-col>
            </v-row>

            <v-row no-gutters>
                <v-btn class="mr-4" type="submit" :disabled="invalid">
                    submit
                </v-btn>
                <v-btn class="mr-4" @click="clear">
                    clear
                </v-btn>
            </v-row>
        </form>
    </validation-observer>
</v-container>