<template src="./Add.html">
</template>
<script>

    export default {
        created() {

        },
        components: {

        },
        data: () => ({
            sample: {
                sampleName: null,
                description: null,
                createdBy: null,
                createdOn: null
            },
            dateFlag: false,
            select: null,
            checkbox: false,
            items: [
                'Item 1',
                'Item 2',
                'Item 3',
                'Item 4',
            ],
        }),
        methods: {
            back() {
                this.$parent.view = 0;
            },
            submit() {
                this.$refs.observer.validate().then((valid) => {
                    if (!valid) return;
                    this.$store.dispatch('samples/add', this.sample)
                        .then(() => {
                            this.clear();
                        })
                        .catch(() => { });
                }).catch(() => {});
            },
            clear() {
                this.sample.sampleName = null;
                this.sample.description = null;
                this.sample.createdBy = null;
                this.sample.createdOn = null;
                this.select = null
                this.checkbox = null
                this.$refs.observer.reset()
            },
        },
    }
</script>