<div>
   <v-subheader>Simple table</v-subheader>
  <v-divider></v-divider>
  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
            Calories
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in desserts" :key="item.name">
          <td>{{ item.name }}</td>
          <td>{{ item.calories }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table> 
  <!----------------------------------------------------------------------->
  <v-subheader>Data Table1</v-subheader>
  <v-divider></v-divider>
  <v-data-table :headers="headers" :items="desserts2" :search="search"></v-data-table>
  <!----------------------------------------------------------------------->
  <v-subheader>Data Table2</v-subheader>

  <v-divider></v-divider>
  <v-data-table item-key="name" class="elevation-1" loading loading-text="Loading... Please wait"></v-data-table> 
  <!----------------------------------------------------------------------->
  <v-subheader>Data Table3</v-subheader>

  <v-divider></v-divider>
  <v-data-table v-model="selected" :headers="headers2" :items="desserts3" :single-select="singleSelect" item-key="name"
    show-select class="elevation-1">
    <template v-slot:top>
      <v-switch v-model="singleSelect" label="Single select" class="pa-3"></v-switch>
    </template>
  </v-data-table> 

</div>