﻿<template src="./Index.html">
</template>

<script>
    import Add from './actions/Add'
    import Edit from './actions/Edit'
    import Details from './details/Details'
    export default {
        components: {
            Add,
            Edit,
            Details
        },
        data: () => ({
            view: 0,
            itemId: null,
            filter: {
                pageNo: 1,
                pageSize: 10,
                search: null
            },
            child:"",
            headers: [
                {
                    text: 'إسم الشركة',
                    //align: 'start',
                    //sortable: false,
                    value: 'companyName',
                },
                { text: 'النوع', value: 'companyName' },
                { text: 'الحالة', value: 'status' },
                { text: 'منشا بواسطة', value: 'createdBy' },
                { text: 'تاريخ الانشاء', value: 'createdOn' },
                { text: 'الاجراءات', value: 'actions', sortable: false },
            ],
            dialog: false,
            dialogType:"",
            dialogMessage:""
            // companies: [],
        }),

        computed: {
            companies() {
                return this.$store.state.companies.companies
            },
            totalItems() {
                return Math.floor(this.$store.state.companies.totalItems / this.filter.pageSize);
            }
        },

        watch: {

            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.getAll();
        },

        methods: {
            getAll() {
                //this.$store.dispatch('companies/getAll', this.filter);
            },
            add() {
                this.view = 1;
                this.child = "إضافة";
            },
            edit(item) {
                this.child = "تعديل";
                this.itemId = item.companyId;
                this.view = 2;
            },
            details(item) {
                this.child = "تفاصيل";
                this.itemId = item.companyId;
                this.view = 3;
            },
            openDialog(type,item) {
                this.itemId = item.companyId
                switch(type){
                    case 'lock':
                        this.dialogMessage = "هل انت متاكد من تجميد الشركة؟"
                        break;
                    case 'unlock':
                        this.dialogMessage = "هل انت متاكد من فك تجميد الشركة؟"
                        break;
                    case 'delete':
                        this.dialogMessage = "هل انت متاكد من حذف الشركة؟"
                        break;
                }
                this.dialogType = type
                this.dialog = true
            },

            dialogConfirm() {
                switch(this.dialogType){
                    case 'lock':
                        this.$store.dispatch('companies/lock', this.itemId);
                        break;
                    case 'unlock':
                        this.$store.dispatch('companies/unlock', this.itemId);
                        break;
                    case 'delete':
                        this.$store.dispatch('companies/delete', this.itemId);
                        break;
                }
                this.close()
            },

            close() {
                this.dialog = false
                this.dialogType = ""
            },


            reloadPage(pageNo) {
                this.filter.pageNo = pageNo;
                this.getAll();
            }
        },
    }
</script>