<div>
    <v-toolbar  dense>
        <v-toolbar-title class="pb-5 mx-5" >الشركات | {{child}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="primary" dark class="my-2" @click="add">
                <v-icon small>mdi-plus</v-icon>
            </v-btn>
      </v-toolbar>
    <div v-if="view === 0">
        <v-data-table :headers="headers"
                      :items="companies"
                      sort-by="calories"
                      class="elevation-1"
                      disable-pagination
                      hide-default-footer
                      no-data-text="لا يوجد بيانات متاحة">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>
                        <v-col cols="12" class="mr-4">
                            <v-text-field append-icon="mdi-magnify" @click:append=""
                                          v-model="filter.search" label="بحث">
                            </v-text-field>
                        </v-col>
                    </v-toolbar-title>
                    <v-col cols="4" class="mr-4">
                        <v-select label="Item">
                        </v-select>
                    </v-col>
                    <Dialog :message="dialogMessage" @close="close" @confirm="dialogConfirm" :dialog="dialog" />
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="details(item)">
                    mdi-eye
                </v-icon>
                <v-icon small @click="edit(item)">
                    mdi-pencil
                </v-icon>

                <v-icon small @click="openDialog('lock',item)">
                    mdi-lock
                </v-icon>
                <v-icon small @click="openDialog('unlock',item)">
                    mdi-lock-open
                </v-icon>
                <v-icon small @click="openDialog('delete',item)">
                    mdi-delete
                </v-icon>
            </template>

        </v-data-table>
        <div class="text-center secondary">
            <v-pagination v-model="filter.pageNo"
                          :length="totalItems"
                          circle
                          @input="reloadPage">
            </v-pagination>
        </div>
    </div>
    <!----------------------------------------------------------------------->
    <Add v-if="view === 1" />
    <Edit :itemId="itemId" v-if="view === 2" />
    <Details :itemId="itemId" v-if="view === 3" />
</div>