﻿<div>
    <v-container>
        <v-toolbar>
            <v-subheader class="primary--text">إضافة عينة</v-subheader>
            <v-spacer />
            <v-btn class="mr-4 primary"  @click="back">
                رجوع
            </v-btn>

        </v-toolbar>

        <validation-observer ref="observer" v-slot="{ invalid }">
            <form @submit.prevent="submit">
                <v-row class="my-4" align-content="space-between">
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required|max:10">
                            <v-text-field v-model="sample.sampleName"
                                          :counter="10"
                                          :error-messages="errors"
                                          label="اسم العينة" required>
                            </v-text-field>
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required|max:10">
                            <v-text-field v-model="sample.description"
                                          :counter="10"
                                          :error-messages="errors"
                                          label="وصف العينة" required>
                            </v-text-field>
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required|max:10">
                            <v-text-field v-model="sample.createdBy"
                                          :counter="10"
                                          :error-messages="errors"
                                          label="المنشا" required>
                            </v-text-field>
                        </validation-provider>
                    </v-col>
                    <v-col cols="3">
                        <validation-provider v-slot="{ errors }" name="Name" rules="required">
                            <v-menu v-model="dateFlag"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field v-model="sample.createdOn"
                                                  label="تاريخ الانشاء"
                                                  prepend-icon="mdi-calendar"
                                                  readonly
                                                  v-bind="attrs"
                                                  v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="sample.createdOn"
                                               @input="dateFlag = false"></v-date-picker>
                            </v-menu>
                        </validation-provider>
                    </v-col>
                    <v-col col="3">
                        <validation-provider v-slot="{ errors }" name="select" rules="required">
                            <v-select v-model="select" :items="items" :error-messages="errors" label="Select"
                                      data-vv-name="select" required></v-select>
                        </validation-provider>
                    </v-col>
                    <v-col col="3">
                        <validation-provider v-slot="{ errors }" rules="required" name="checkbox">
                            <v-checkbox v-model="checkbox" :error-messages="errors" value="1" label="Option" type="checkbox"
                                        required></v-checkbox>
                        </validation-provider>
                    </v-col>
                </v-row>

                <v-row no-gutters>
                    <v-spacer />
                    <v-btn class="mr-4 info" @click="clear">
                        اعادة تعيين
                    </v-btn>
                    <v-btn class="mr-4 success" type="submit" :disabled="invalid">
                        حفظ
                    </v-btn>
                </v-row>
            </form>
        </validation-observer>
    </v-container>
</div>