<div>

    <v-navigation-drawer app :right="$vuetify.rtl" :dark="$vuetify.theme.dark" v-model="drawerFlag">
        <!-- <v-card flat elevation="12" width="256" > -->
        <v-list-item two-line>
            <v-list-item-avatar height="60" width="60">
                <img src="https://randomuser.me/api/portraits/women/81.jpg">
            </v-list-item-avatar>

            <v-list-item-content>
                <v-list-item-title>Jane Smith</v-list-item-title>
                <v-list-item-subtitle>Logged In</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>
        <v-list dense rounded>
            <v-subheader>قسم 1</v-subheader>

            <v-list-item-group v-model="group">
                <div v-for="item in routes" :key="item.name">
                    <router-link :to="item.path" v-if="item.path">
                        <v-list-item :dark="$vuetify.theme.dark">

                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item-content>

                        </v-list-item>
                    </router-link>
                    <v-list-group prepend-icon="mdi-account-circle" color="primary" v-else>
                        <template v-slot:activator>
                            <v-list-item-title>{{item.name}}</v-list-item-title>
                        </template>
                        <div v-for="(nested, i) in item.children" :key="i">

                            <router-link :to="nested.path">
                                <v-list-item :dark="$vuetify.theme.dark">
        
                                    <v-list-item-icon>
                                        <v-icon>{{ nested.icon }}</v-icon>
                                    </v-list-item-icon>
        
                                    <v-list-item-content>
                                        <v-list-item-title>{{ nested.name }}</v-list-item-title>
                                    </v-list-item-content>
        
                                </v-list-item>
                            </router-link>
                        </div>
            
                    </v-list-group>
                </div>

            </v-list-item-group>
            <v-subheader>قسم 2</v-subheader>

            <v-list-group prepend-icon="mdi-account-circle" color="primary">
                <template v-slot:activator>
                    <v-list-item-title>Users</v-list-item-title>
                </template>

                <v-list-group no-action sub-group>
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title>Admin</v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item v-for="([title, icon], i) in admins" :key="i" link>
                        <v-list-item-title v-text="title"></v-list-item-title>

                        <v-list-item-icon>
                            <v-icon v-text="icon"></v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                </v-list-group>

                <v-list-group no-action sub-group>
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-list-item-title>Actions</v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item v-for="([title, icon], i) in cruds" :key="i" link>
                        <v-list-item-title v-text="title"></v-list-item-title>

                        <v-list-item-icon>
                            <v-icon v-text="icon"></v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                </v-list-group>
            </v-list-group>


        </v-list>
        <template v-slot:append>
            <div class="pa-2">
                <v-switch color="secondary" v-model="$vuetify.theme.dark" inset></v-switch>
            </div>
        </template>
        <!-- </v-card> -->
    </v-navigation-drawer>
</div>