<template src="./Sidebar.html">
  
</template>

<script>
    export default {
    created() {
    },
    //props: ["drawer"],
    computed: {
        drawerFlag: {
            get() {
                return this.$parent.$parent.drawer;
            },
            set(drawer) {
                this.$parent.$parent.drawer = drawer
            }
        },
        routes(){
            return this.$router.options.routes;
        }
    },
    data: ()=>({
        group: null,
        // itemsSidebar: [
        //     { title: 'عينة', icon: 'mdi-calendar',link:"/Sample"},
        //     { title: 'Dashboard', icon: 'mdi-view-dashboard',link:"/"},
        //     { title: 'لوحة البيانات', icon: 'mdi-view-dashboard',link:"/grid"},
        //     { title: 'الجدول', icon: 'mdi-forum',link:"/table"},
        //     { title: 'جدول خاص', icon: 'mdi-forum',link:"/specieltable"},
        //     { title: '1الفورمز', icon: 'mdi-forum',link:"/form"},
        //     { title: '2الفورمز', icon: 'mdi-forum',link:"/form2"},
        //     { title: '3الفورمز', icon: 'mdi-forum',link:"/form3"},
        //     { title: 'الايقونات', icon: 'mdi-forum',link:"/icons"},
        //     { title: 'التقويم', icon: 'mdi-calendar',link:"/calendar"},
        // ],
        admins: [
            ['الجداول', 'mdi-account-multiple-outline'],
            ['الفورمز', 'mdi-cog-outline'],
        ],
        cruds: [
            ['آخر', 'mdi-plus-outline'],
            ['آخر', 'mdi-file-outline'],
            ['آخر', 'mdi-update'],
            ['آخر', 'mdi-delete'],
        ],
        languages:[
            {id:1, locale:"ar", description:"Arabic"},
            {id:2, locale:"en", description:"English"},
            //{id:3, locale:"sv", description:"Arabic"},
        ],
    }),
    methods: {
        firstRoute(item){
            let route = {
                text: item.title,
                disabled: true,
                href: item.link,
            };
            console.log(this.$parent)
            this.$parent.$parent.items.push(route);
        },
        changeLanguage(language){
            this.$vuetify.lang.current = language.locale
            this.$vuetify.rtl = language.locale == 'ar' ? true : false
        },
    },
}

</script>
